@model IEnumerable<Category>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Category List</h2>
        </div>
        <div class="col-6  text-end p-0">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> Create new Category</a>
        </div>
    </div>
    
</div>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <th class="w-50">Category name</th>
            <th class="w-50">Display order</th>
            <th class="w-20">Edit</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id=@item.Id class="btn btn-primary">
                            <i class="bi bi-pencil"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>